modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 7009
externalPort = 80

[workflows]
runButton = "Start Full Stack"

[[workflows.workflow]]
name = "Start Backend"
author = 45312983
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/index.js"

[[workflows.workflow]]
name = "Start Full Stack"
author = 45312983
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/index.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
